body {
	width: 400px;
	height: 300px;
	font-family: 'Roboto', sans-serif;
}

header {
	width: 400px;
	height: 50px;
	background: white;
	border-bottom: 1px solid #ccc;
	font-size: 1.1em;
}

#icon-container {
	width: 230px;
	float: left;
}

#icon {
	float: left;
	width: 40px;
	height: auto;
	margin: 5px 20px 5px 0px;
}

#character-count {
	width: 70px;
	float: left;
	padding-right: 7px;
	border-right: solid 1px #ccc;
	text-align: right;
}

#tweet-button {
	width: 49px;
	float: left;
	padding-left: 5px;
	text-align: right;
	cursor: pointer;
	-webkit-transition: color 0.5s ease-in-out;
}

#tweet-button:hover {
	color: #33b5e5;
}

#dropdown {
	width: 10px;
	float: left;
	margin: 13px 0 0 20px;
}

#dropdown img {
	width: 10px;
	height: auto;
}

.header-text {
	margin: 15px 0 0;
}

#content {
	width: 100%;
	height: 220px
}

#tweet {
	width: 380px;
	height: 200px;
	font-size: 1em;
	padding: 10px;
	border: none;
	outline: none;
	resize: none;
}

#button-container {
	text-align: center;
	width: 100%;
}

footer {
	height: 30px;
	border-top: 1px solid #ccc;
}

.footer-button {
	width: 100px;
	height: 30px;
	text-align: center;
	float: left;
	padding-top: 7px;
	-webkit-transition: background 0.5s ease-in-out;
}

.footer-button:hover {
	background: #eee;
}

.footer-image {
	width: 20px;
	height: 20px;
	margin: 0 40px;
}

#link-button {
	padding-top: 10px;
	height: 27px;
}

#shorten-image {
	background: transparent url('/img/shorten_grey.png');
	-webkit-transition: background-image 0.5s ease-in-out;
}

#shorten-button:hover > #shorten-image {
	background-image: url('/img/shorten_blue.png');
}

#link-image {
	background: transparent url('/img/link_grey.png');
	width: 15px;
	height: 15px;
	margin: 0 37px;
}

#hashtag-image {
	background: transparent url('/img/hashtag_grey.png');
}

#mention-image {
	background: transparent url('/img/mention_grey.png');
}

#spinner {
	display: none;
	position: absolute;
	left: 185px;
	top: 100px;
	z-index: 1000;
}